*
{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}



header
{
    position: sticky;
    background:#ef3636;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    height: 70px;
    width: 100% auto;
    top: 0%;
    left: 0%;
}

header .logo
{
    font-weight: bolder;
    font-size: 30px;
    color: rgb(0, 0, 0);
    transition: 0.3s ease-in;
    padding: 10px 20px;
}

header .logo:hover
{
    color: rgb(83, 82, 82);
}


header .navbar ul
{
    list-style: none;
}

header .navbar ul li
{
    position: relative;
    float: left;
}

header .navbar ul li a
{
    font-size: 20px;
    padding: 20px;
    color: rgb(0, 0, 0);
    display: block;
}



header .navbar ul li a:hover
{
    color: rgb(83, 82, 82);
    width: auto;
}

header .navbar ul li ul
{
    position: absolute;
    left: 0% ;
    width: 200px;
    background:#ef3636;
    display: none;
}

header .navbar ul li ul li
{
    width: 100%;
    border-top: 2px solid #ea1a1a(0,0,0,0.5);

}

header .navbar ul li ul li ul
{
    left: 200px;
    top: 0%;
}

header .navbar ul li:hover > ul 
{
    display: block;
}


#menu-bar
{
    display: none;
}

header label
{
    font-size: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: none;
}





















































.footer
{
    background-color: #24262b;
    padding: 70px 0;
}

.container
{
    max-width: 1170px;
    margin: auto;
}

.row
{
    display: flex;
    flex-wrap: wrap;
}

ul
{
    list-style: none;
}

.footer-col
{
    width: 33.3%;
    padding: 0 15px;

}

.footer-col h4
{
    font-size: 25px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 800;
    position: relative;
}


.footer-col h4::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: yellow;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child)
{
    margin-bottom: 10px;
}

.footer-col ul li a
{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover
{
    color: white;
    padding-left: 8px;
}


.footer-col .social a
{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}

.footer-col .social a:hover
{
    color: #24262b;
    background-color: white;
}





























/*responsive header*/
@media(max-width:860px)
{
    header
    {
        padding: 20px;
        width: 100%;
    }

    header label
    {
        display: block;
    }

    header .navbar
    {
        position: absolute;
        top: 100%;
        left: 0%;
        right: 0%;
        background:#ef3636;
        border-top: 1px solid rgba(0,0,0,0.1);
        display: none;
    }

    header .navbar ul li
    {
        width: 100%;
    }

    header .navbar ul li ul
    {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li
    {
        background:#ef3636;

    }

    #menu-bar:checked ~ .navbar
    {
        display: block;
    }
}



































